body {
    background-color: #fafafa;
}

h1 {
    color: #202020;
}

@media screen and (min-width: 900px) {
    .content_main {
        width: 1024px;
        margin: 0 auto;
        padding: 32px;
    }
}

.spacer-vert-32px {
    width: 100%;
    height: 32px;
}

.spacer-vert-8px {
    width: 100%;
    height: 8px;
}

.card {
    margin: 16px;
    max-width: 300px;
}

#btn_scrollToTop {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99;
    cursor: pointer;
}