html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table a {
    color: #e020ba;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #4a4a4a;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #4a4a4a;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #4a4a4a;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

#table-android {
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(164, 198, 57), #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(164, 198, 57), #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#table-web {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, dodgerblue, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, dodgerblue, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#table-desktop {
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, lightcoral, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightcoral, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#table-other {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    color: #4b4b4b
}

.navbar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: inline-start;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #e020ba;
    color: white;
}

.navbar .icon {
    display: none;
}

.fa {
    margin-left: 2px;
    margin-right: 2px;
}

.content_main {
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    width: 1024px;
    text-overflow: clip;
}

@media screen and (max-width: 600px) {
    .content_main {
        padding-top: 16px;
        margin: auto;
        word-wrap: break-word;
        width: 100vw;
    }

    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}