html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #ececce;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #greeter {
        padding-bottom: 24px;
    }

    .box {
        width: 100% !important;
        height: auto;
    }
}

.container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    text-align: center;
    max-height: 50%;
    min-height: 50%;
    width: 50%;
    height: 50vh;
    overflow: auto;
}

.fa {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    color: #212121;
}

#greeter {
    background: #16222A;
    background: -webkit-linear-gradient(to bottom left, #3A6073, #16222A);
    background: linear-gradient(to bottom left, #3A6073, #16222A);
}

#projects {
    background-image: url(./bg-projects.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#about_me {
    color: #212121;
    background: #e020ba;
    background: -webkit-linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
    background: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
}

#about_me>p {
    padding-left: 32px;
    padding-right: 32px;
}

#downloads {
    color: #fafafa;
    background: #202020;
    background: -webkit-linear-gradient(to bottom right, #252525, #202020);
    background: linear-gradient(to bottom right, #252525, #202020);
}

a.btn_main {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.btn_main:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.btn_main {
        display: block;
        margin: 0.4em auto;
    }
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #16222A;
}

.tg td {
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    color: #fafafa;
}

.tg a {
    color: #e020ba;
}

.tg th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    color: #fafafa;
    background-color: #16222A;
}